
</body>
<footer>
  copyright 2024@ hitesh mourya
  <div class="Nav">
    <form  action="/about" method="post">
      <button class="NavButton" type="submit" name="homebutton">Home</button>
      <button class="NavButton" type="submit" name="aboutbutton">About</button>
    </form>
  </div>

</footer>
</html>
